---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <!-- <ul class="tags"> -->
  <div>
  Tags: 
    {% for tag in page.tags %}
      <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
    {% endfor %}
    <p>
  </div>
  <!-- </ul> -->

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <br/>
  <br/>
  <div class="share">
  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- Place this tag where you want the share button to render. -->
  <div class="g-plus" data-action="share"></div>  
  </div>


  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</article>


