---
layout: default
---

<article class="post">
  <script src="../assets/global/anchor.min.js"></script>
  <script src="../assets/global/jquery-3.6.0.min.js"></script>

  <script>
    $(function() {
      anchors.options.visible = 'always';
      anchors.options.placement = 'right';
      anchors.add('.post-content > h1, h2, h3, h4, h5, h6');
  });
  </script>
	
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <br/>
  <br/>

  <p>如果你覺得這個內容有用，不妨分享給你的朋友。</p>
  <p>這是我的 <a href="https://www.facebook.com/people/Roulesophy-點字記/100095396178228/?mibextid=LQQJ4d">Facebook</a>、<a href="https://twitter.com/roulesophy">Twitter</a>、<a href="https://www.instagram.com/roulesophy/">Instagram</a> 和 <a href="https://www.threads.net/@roulesophy">Threads</a>，有興趣的話歡迎 Follow。</p>
  
  <p>如果你認為我的文章有幫助，歡迎 <a href="https://www.buymeacoffee.com/roulesophy">請我喝一杯咖啡。</a></p>

  <!-- <ul class="tags"> -->
  <div>
  分類: 
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag }}" class="tag">{{ tag }}</a>
    {% endfor %}
  </div>
  <!-- </ul> -->

  <div class="date">
    <!-- Written on {{ page.date | date: "%B %e, %Y" }}  -->
    寫作日期： {{ page.date | date: "%Y-%m-%d" }}
  </div>
  <br/>
  <div class="share">
  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- Place this tag where you want the share button to render. -->
  <div class="g-plus" data-action="share"></div>  
  </div>
  
  <div class="relatedPosts">
	
	  {% assign maxRelated = 5 %}
	
	  {% assign minCommonTags = 1 %}
	
	  {% assign maxRelatedCounter = 0 %}
	  
	  {% assign showRelatedPost = 0 %}
	  
	  {% assign relatedPost = '' %}

	  {% for post in site.posts %}
	
	    {% assign sameTagCount = 0 %}
	    {% assign commonTags = '' %}
	
	    {% for tag in post.tags %}
	      {% if post.url != page.url %}
	        {% if page.tags contains tag %}
	          {% assign sameTagCount = sameTagCount | plus: 1 %}
	          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
	          {% assign commonTags = commonTags | append: tagmarkup %}
	        {% endif %}
	      {% endif %}
	    {% endfor %}
	
	    {% if sameTagCount >= minCommonTags %}
	      {% capture relatedPostPoint %} <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li> {% endcapture %}
	      {% assign relatedPost = relatedPost | append: relatedPostPoint %}
	      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
	      {% assign showRelatedPost = showRelatedPost | plus: 1 %}
	      {% if maxRelatedCounter >= maxRelated %}
	        {% break %}
	      {% endif %}
	    {% endif %}
	
	  {% endfor %}
	  
	  {% if showRelatedPost >= 1 %}
		  <h3>相關文章:</h3>
		  <ul>
		    {{ relatedPost }}
		  </ul> 
	  {% endif %}
	  
	  
	
	</div>
	
	<h3>隨機文章:</h3>
	<div id="randomPosts">
	</div>


  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</article>


